In [13]:
import sqlite3
con = sqlite3.connect("sqlite_db_pythonsqlite.db")
cur = con.cursor()

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [18]:
res10 = cur.execute("""
SELECT name, (SUM(Facilities.membercost) + SUM(Facilities.guestcost)) AS revenue
FROM `Bookings`
LEFT JOIN Facilities USING(facid)
GROUP BY name
ORDER BY revenue DESC;
""")
[r for r in res10]

[('Massage Room 1', 56547.09999999995),
 ('Tennis Court 1', 12240),
 ('Tennis Court 2', 11670),
 ('Massage Room 2', 9978.9),
 ('Squash Court', 9240.0),
 ('Badminton Court', 5936.5),
 ('Pool Table', 4180),
 ('Snooker Table', 2220),
 ('Table Tennis', 2015)]

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [21]:
res11 = cur.execute("""
SELECT M2.surname || ' ' || M2.firstname AS recommender, M1.surname || ' ' || M1.firstname AS recommendee
FROM `Members` AS M1
LEFT JOIN Members AS M2
ON M1.memid = M2.recommendedby
ORDER BY recommender;
""")
[r for r in res11]

[(None, 'GUEST GUEST'),
 (None, 'Dare Nancy'),
 (None, 'Boothe Tim'),
 (None, 'Owen Charles'),
 (None, 'Baker Anne'),
 (None, 'Smith Jack'),
 (None, 'Pinker David'),
 (None, 'Mackenzie Anna'),
 (None, 'Coplin Joan'),
 (None, 'Sarwin Ramnaresh'),
 (None, 'Jones Douglas'),
 (None, 'Rumney Henrietta'),
 (None, 'Farrell David'),
 (None, 'Worthington-Smyth Henry'),
 (None, 'Tupperware Hyacinth'),
 (None, 'Hunt John'),
 (None, 'Crumpet Erica'),
 (None, 'Smith Darren'),
 ('Bader Florence', 'Stibbons Ponder'),
 ('Baker Anne', 'Stibbons Ponder'),
 ('Baker Timothy', 'Farrell Jemima'),
 ('Boothe Tim', 'Rownam Tim'),
 ('Butters Gerald', 'Smith Darren'),
 ('Coplin Joan', 'Baker Timothy'),
 ('Crumpet Erica', 'Smith Tracy'),
 ('Dare Nancy', 'Joplette Janice'),
 ('Genting Matthew', 'Butters Gerald'),
 ('Hunt John', 'Purview Millicent'),
 ('Jones David', 'Joplette Janice'),
 ('Jones Douglas', 'Jones David'),
 ('Joplette Janice', 'Smith Darren'),
 ('Mackenzie Anna', 'Smith Darren'),
 ('Owen Charles', 'Smith Darren'),
 ('Pinker David', 'Farrell Jemima'),
 ('Purview Millicent', 'Smith Tracy'),
 ('Rumney Henrietta', 'Genting Matthew'),
 ('Sarwin Ramnaresh', 'Bader Florence'),
 ('Smith Jack', 'Smith Darren'),
 ('Stibbons Ponder', 'Tracy Burton'),
 ('Worthington-Smyth Henry', 'Smith Tracy')]

Q12: Find the facilities with their usage by member, but not guests

In [26]:
res12 = cur.execute("""
SELECT Members.firstname || ' ' || Members.surname AS memberName, Facilities.name AS facilityName
FROM Bookings
LEFT JOIN Facilities USING(facid)
LEFT JOIN Members USING(memid)
GROUP BY memberName, facilityName;
""")
[r for r in res12]

[('Anna Mackenzie', 'Badminton Court'),
 ('Anna Mackenzie', 'Massage Room 1'),
 ('Anna Mackenzie', 'Pool Table'),
 ('Anna Mackenzie', 'Snooker Table'),
 ('Anna Mackenzie', 'Squash Court'),
 ('Anna Mackenzie', 'Table Tennis'),
 ('Anne Baker', 'Badminton Court'),
 ('Anne Baker', 'Massage Room 1'),
 ('Anne Baker', 'Massage Room 2'),
 ('Anne Baker', 'Pool Table'),
 ('Anne Baker', 'Squash Court'),
 ('Anne Baker', 'Table Tennis'),
 ('Anne Baker', 'Tennis Court 1'),
 ('Anne Baker', 'Tennis Court 2'),
 ('Burton Tracy', 'Badminton Court'),
 ('Burton Tracy', 'Massage Room 1'),
 ('Burton Tracy', 'Pool Table'),
 ('Burton Tracy', 'Snooker Table'),
 ('Burton Tracy', 'Squash Court'),
 ('Burton Tracy', 'Table Tennis'),
 ('Burton Tracy', 'Tennis Court 1'),
 ('Burton Tracy', 'Tennis Court 2'),
 ('Charles Owen', 'Badminton Court'),
 ('Charles Owen', 'Massage Room 1'),
 ('Charles Owen', 'Massage Room 2'),
 ('Charles Owen', 'Pool Table'),
 ('Charles Owen', 'Snooker Table'),
 ('Charles Owen', 'Squash Court'),
 ('Charles Owen', 'Table Tennis'),
 ('Charles Owen', 'Tennis Court 1'),
 ('Charles Owen', 'Tennis Court 2'),
 ('Darren Smith', 'Badminton Court'),
 ('Darren Smith', 'Massage Room 1'),
 ('Darren Smith', 'Pool Table'),
 ('Darren Smith', 'Snooker Table'),
 ('Darren Smith', 'Squash Court'),
 ('Darren Smith', 'Table Tennis'),
 ('Darren Smith', 'Tennis Court 2'),
 ('David Farrell', 'Pool Table'),
 ('David Farrell', 'Snooker Table'),
 ('David Farrell', 'Squash Court'),
 ('David Farrell', 'Tennis Court 1'),
 ('David Farrell', 'Tennis Court 2'),
 ('David Jones', 'Badminton Court'),
 ('David Jones', 'Massage Room 1'),
 ('David Jones', 'Massage Room 2'),
 ('David Jones', 'Pool Table'),
 ('David Jones', 'Snooker Table'),
 ('David Jones', 'Squash Court'),
 ('David Jones', 'Table Tennis'),
 ('David Jones', 'Tennis Court 1'),
 ('David Jones', 'Tennis Court 2'),
 ('David Pinker', 'Badminton Court'),
 ('David Pinker', 'Massage Room 1'),
 ('David Pinker', 'Pool Table'),
 ('David Pinker', 'Snooker Table'),
 ('David Pinker', 'Squash Court'),
 ('David Pinker', 'Table Tennis'),
 ('David Pinker', 'Tennis Court 1'),
 ('Douglas Jones', 'Badminton Court'),
 ('Douglas Jones', 'Pool Table'),
 ('Douglas Jones', 'Squash Court'),
 ('Douglas Jones', 'Tennis Court 1'),
 ('Erica Crumpet', 'Badminton Court'),
 ('Erica Crumpet', 'Massage Room 1'),
 ('Erica Crumpet', 'Table Tennis'),
 ('Erica Crumpet', 'Tennis Court 1'),
 ('Florence Bader', 'Badminton Court'),
 ('Florence Bader', 'Massage Room 2'),
 ('Florence Bader', 'Pool Table'),
 ('Florence Bader', 'Snooker Table'),
 ('Florence Bader', 'Squash Court'),
 ('Florence Bader', 'Table Tennis'),
 ('Florence Bader', 'Tennis Court 1'),
 ('Florence Bader', 'Tennis Court 2'),
 ('GUEST GUEST', 'Badminton Court'),
 ('GUEST GUEST', 'Massage Room 1'),
 ('GUEST GUEST', 'Massage Room 2'),
 ('GUEST GUEST', 'Pool Table'),
 ('GUEST GUEST', 'Snooker Table'),
 ('GUEST GUEST', 'Squash Court'),
 ('GUEST GUEST', 'Table Tennis'),
 ('GUEST GUEST', 'Tennis Court 1'),
 ('GUEST GUEST', 'Tennis Court 2'),
 ('Gerald Butters', 'Badminton Court'),
 ('Gerald Butters', 'Massage Room 1'),
 ('Gerald Butters', 'Massage Room 2'),
 ('Gerald Butters', 'Pool Table'),
 ('Gerald Butters', 'Snooker Table'),
 ('Gerald Butters', 'Squash Court'),
 ('Gerald Butters', 'Table Tennis'),
 ('Gerald Butters', 'Tennis Court 1'),
 ('Gerald Butters', 'Tennis Court 2'),
 ('Henrietta Rumney', 'Pool Table'),
 ('Henrietta Rumney', 'Snooker Table'),
 ('Henrietta Rumney', 'Squash Court'),
 ('Henrietta Rumney', 'Tennis Court 2'),
 ('Henry Worthington-Smyth', 'Badminton Court'),
 ('Henry Worthington-Smyth', 'Massage Room 1'),
 ('Henry Worthington-Smyth', 'Pool Table'),
 ('Henry Worthington-Smyth', 'Table Tennis'),
 ('Hyacinth Tupperware', 'Badminton Court'),
 ('Hyacinth Tupperware', 'Massage Room 1'),
 ('Hyacinth Tupperware', 'Pool Table'),
 ('Hyacinth Tupperware', 'Snooker Table'),
 ('Hyacinth Tupperware', 'Squash Court'),
 ('Jack Smith', 'Badminton Court'),
 ('Jack Smith', 'Massage Room 1'),
 ('Jack Smith', 'Massage Room 2'),
 ('Jack Smith', 'Pool Table'),
 ('Jack Smith', 'Snooker Table'),
 ('Jack Smith', 'Squash Court'),
 ('Jack Smith', 'Table Tennis'),
 ('Jack Smith', 'Tennis Court 1'),
 ('Jack Smith', 'Tennis Court 2'),
 ('Janice Joplette', 'Massage Room 1'),
 ('Janice Joplette', 'Massage Room 2'),
 ('Janice Joplette', 'Pool Table'),
 ('Janice Joplette', 'Snooker Table'),
 ('Janice Joplette', 'Squash Court'),
 ('Janice Joplette', 'Table Tennis'),
 ('Janice Joplette', 'Tennis Court 1'),
 ('Janice Joplette', 'Tennis Court 2'),
 ('Jemima Farrell', 'Badminton Court'),
 ('Jemima Farrell', 'Massage Room 1'),
 ('Jemima Farrell', 'Pool Table'),
 ('Jemima Farrell', 'Snooker Table'),
 ('Jemima Farrell', 'Squash Court'),
 ('Jemima Farrell', 'Table Tennis'),
 ('Jemima Farrell', 'Tennis Court 1'),
 ('Jemima Farrell', 'Tennis Court 2'),
 ('Joan Coplin', 'Massage Room 1'),
 ('Joan Coplin', 'Massage Room 2'),
 ('Joan Coplin', 'Pool Table'),
 ('Joan Coplin', 'Snooker Table'),
 ('Joan Coplin', 'Squash Court'),
 ('Joan Coplin', 'Table Tennis'),
 ('Joan Coplin', 'Tennis Court 1'),
 ('John Hunt', 'Badminton Court'),
 ('John Hunt', 'Massage Room 1'),
 ('John Hunt', 'Squash Court'),
 ('John Hunt', 'Table Tennis'),
 ('John Hunt', 'Tennis Court 1'),
 ('John Hunt', 'Tennis Court 2'),
 ('Matthew Genting', 'Massage Room 1'),
 ('Matthew Genting', 'Massage Room 2'),
 ('Matthew Genting', 'Pool Table'),
 ('Matthew Genting', 'Snooker Table'),
 ('Matthew Genting', 'Table Tennis'),
 ('Matthew Genting', 'Tennis Court 1'),
 ('Millicent Purview', 'Badminton Court'),
 ('Millicent Purview', 'Pool Table'),
 ('Millicent Purview', 'Snooker Table'),
 ('Millicent Purview', 'Squash Court'),
 ('Millicent Purview', 'Table Tennis'),
 ('Millicent Purview', 'Tennis Court 2'),
 ('Nancy Dare', 'Badminton Court'),
 ('Nancy Dare', 'Massage Room 1'),
 ('Nancy Dare', 'Massage Room 2'),
 ('Nancy Dare', 'Pool Table'),
 ('Nancy Dare', 'Snooker Table'),
 ('Nancy Dare', 'Table Tennis'),
 ('Nancy Dare', 'Tennis Court 1'),
 ('Nancy Dare', 'Tennis Court 2'),
 ('Ponder Stibbons', 'Badminton Court'),
 ('Ponder Stibbons', 'Massage Room 1'),
 ('Ponder Stibbons', 'Pool Table'),
 ('Ponder Stibbons', 'Snooker Table'),
 ('Ponder Stibbons', 'Squash Court'),
 ('Ponder Stibbons', 'Table Tennis'),
 ('Ponder Stibbons', 'Tennis Court 1'),
 ('Ponder Stibbons', 'Tennis Court 2'),
 ('Ramnaresh Sarwin', 'Badminton Court'),
 ('Ramnaresh Sarwin', 'Massage Room 1'),
 ('Ramnaresh Sarwin', 'Massage Room 2'),
 ('Ramnaresh Sarwin', 'Pool Table'),
 ('Ramnaresh Sarwin', 'Snooker Table'),
 ('Ramnaresh Sarwin', 'Squash Court'),
 ('Ramnaresh Sarwin', 'Table Tennis'),
 ('Ramnaresh Sarwin', 'Tennis Court 1'),
 ('Ramnaresh Sarwin', 'Tennis Court 2'),
 ('Tim Boothe', 'Badminton Court'),
 ('Tim Boothe', 'Massage Room 1'),
 ('Tim Boothe', 'Pool Table'),
 ('Tim Boothe', 'Snooker Table'),
 ('Tim Boothe', 'Squash Court'),
 ('Tim Boothe', 'Table Tennis'),
 ('Tim Boothe', 'Tennis Court 1'),
 ('Tim Boothe', 'Tennis Court 2'),
 ('Tim Rownam', 'Badminton Court'),
 ('Tim Rownam', 'Massage Room 1'),
 ('Tim Rownam', 'Massage Room 2'),
 ('Tim Rownam', 'Pool Table'),
 ('Tim Rownam', 'Table Tennis'),
 ('Tim Rownam', 'Tennis Court 1'),
 ('Tim Rownam', 'Tennis Court 2'),
 ('Timothy Baker', 'Badminton Court'),
 ('Timothy Baker', 'Massage Room 1'),
 ('Timothy Baker', 'Pool Table'),
 ('Timothy Baker', 'Squash Court'),
 ('Timothy Baker', 'Table Tennis'),
 ('Timothy Baker', 'Tennis Court 1'),
 ('Timothy Baker', 'Tennis Court 2'),
 ('Tracy Smith', 'Badminton Court'),
 ('Tracy Smith', 'Massage Room 1'),
 ('Tracy Smith', 'Pool Table'),
 ('Tracy Smith', 'Snooker Table'),
 ('Tracy Smith', 'Squash Court'),
 ('Tracy Smith', 'Table Tennis'),
 ('Tracy Smith', 'Tennis Court 1'),
 ('Tracy Smith', 'Tennis Court 2')]

Q13: Find the facilities usage by month, but not guests

In [40]:
res13 = cur.execute("""
SELECT strftime('%m', Bookings.starttime) AS month, Facilities.name AS facility, COUNT(Facilities.name) AS count
FROM Bookings
LEFT JOIN Facilities USING(facid)
GROUP BY month, facility;
""")
[r for r in res13]

[('07', 'Badminton Court', 56),
 ('07', 'Massage Room 1', 123),
 ('07', 'Massage Room 2', 12),
 ('07', 'Pool Table', 110),
 ('07', 'Snooker Table', 75),
 ('07', 'Squash Court', 75),
 ('07', 'Table Tennis', 51),
 ('07', 'Tennis Court 1', 88),
 ('07', 'Tennis Court 2', 68),
 ('08', 'Badminton Court', 146),
 ('08', 'Massage Room 1', 224),
 ('08', 'Massage Room 2', 40),
 ('08', 'Pool Table', 291),
 ('08', 'Snooker Table', 159),
 ('08', 'Squash Court', 170),
 ('08', 'Table Tennis', 147),
 ('08', 'Tennis Court 1', 146),
 ('08', 'Tennis Court 2', 149),
 ('09', 'Badminton Court', 181),
 ('09', 'Massage Room 1', 282),
 ('09', 'Massage Room 2', 59),
 ('09', 'Pool Table', 435),
 ('09', 'Snooker Table', 210),
 ('09', 'Squash Court', 195),
 ('09', 'Table Tennis', 205),
 ('09', 'Tennis Court 1', 174),
 ('09', 'Tennis Court 2', 172)]

In [12]:
con.close()